<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sebastian Schmidt</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bebas+Neue&family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
  </head>

<link rel="stylesheet" href="static/styles.css">
<link rel="icon" href="https://img.icons8.com/office/30/000000/chili-pepper.png">

<body>
  <div class="background2">
    background: linear-gradient(to left, #8942a8, #ba382f);


  </div>
<div class="animation-area">
  <h1 class="Title" >Hola! Soy Sebastian </h1>
  <h2 class ="Title"> Un aficionado programador. </h2>
		<ul class="box-area">
			<li></li>
			<li></li>
			<li></li>
      <li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>

	</div>




<div class="middle-container">
  <div class="profile">
    <img class="Hello_image"src="static/hello.png" alt="hello-img">
    <h2>¿Quien soy?.</h2>
    <p>Ingeniero comercial licenciado, futuro full stack developer y en un futuro espero comenzar un camino en el data science.</p>
  </div>
  <hr>
  <div class="skills">
    <h2>¿Mi Experiencia?.</h2>
    <div class="skill-row">
      <img class="code-image" src="static/window.png" alt="window-img">
      <ol>
        <li>Creacion y desarrollo negocios en el mundo E-commers</li>
        <li>Nivel intermedio en Pyhton (Estudiando Actualmente)</li>
        <li>Nivel Basico en HTML y CSS (Estudiando Actualmente)</li>
        <li>Exportacion Fruta a China.</li>
        <li>Marcas de Ropa (Creando 2 en estos momentos)</li>
      </ol>
      <p>Me identifico totalmente como una persona inquieta. El aprender, crear y trabajar en proyectos realmente me encanta. Recien comenzando en el mundo de la tecnologia, pero absolutamente facinado.</p>
    </div>
    <div class="skill-row">
      <img class="Futbol_image" src="static/balon-de-futbol.png" alt="balon-de-futbol.png">
      <h3>¿Hobbies?</h3>
      <p>Fanatico del futbol y de viajar. Me encata estar por largos periodos de tiempo fuera de mi pais, conocer y recorrer lo mas posible. </p>
    </div>
  </div>
  <hr>
  <div class="contact-me">
    <h2>Contacto</h2>
    <h3></h3>
    <p>Cualquier duda o consulta, enviame un correo :) !</p>
    <a class="btn" href="mailto:spuga123@gmail.com">Mi Correo</a></button>


  </div>
</div>

<div class="bottom-container">
  <p class="text">© 2021 Sebastian Schmidt.</p>
</div>




</body>

</html>
